:root {
    --color-foreground: rgb(55, 55, 55);
    --font-family-default: Inter, Helvetica, Arial, sans-serif;

    --color-accent-light: #3898ff;
    --color-accent: #007aff;
    --color-accent-dark: #0068d8;
    --color-accent-foreground: #fff;

    --color-base: #fff;
    --color-base-50: #f9fafb;
    --color-base-100: #f3f4f6;
    --color-base-200: #e5e7eb;
    --color-base-300: #d1d5db;
    --color-base-400: #9ca3af;
    --color-base-500: #6b7280;
    --color-base-600: #4b5563;
    --color-base-700: #374151;
    --color-base-800: #1f2937;
    --color-base-900: #111827;
    --color-base-950: #030712;
}
